* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.625vw;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  width: 1200px;
  height: calc(100vh - 200px);
  margin: 100px auto;
  border: 0.2rem rgb(240, 240, 240) solid;
  border-radius: 10px;
}

.App h2 {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 3rem;
}

.nav_bar {
  width: 100%;
  line-height: 5rem;
  display: flex;
  gap: 2rem;
  border-bottom: 0.2rem rgb(240, 240, 240) solid;
  padding-left: 3rem;
}

.nav_bar li {
  padding: 0 20px;
  font-size: 1.75rem;
  cursor: pointer;
}

.nav_bar li span{
  font-size: 1.75rem;
  font-weight: 500;
  padding: 1.25rem 0;
  transition: 0.2s ease-in-out;
}

.underline{
  border-bottom: 3px solid black;
}

.nav_li{
  opacity: 0.4;
}
